.color-list {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 30vw;
}

.color-list__color {
    /* display: inline-block; */
    opacity: 0.1;
    position: relative;
    width: 33%;
}

.color-list__color--active {
    
}