.color-list {
    display: grid;
    grid-gap: 0.15vw;
    grid-template-columns: 1fr 1fr 1fr;
    height:70%;
    padding: 0.6vmax;
}

.color-list__color {
    opacity: 0.3;
    position: relative;
}

.color-list__color--active {
    
}

@media ( min-aspect-ratio: 2/3 ) {
    .color-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media ( min-aspect-ratio: 3/2 ) {
    .color-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media ( min-aspect-ratio: 2/1 ) {
    .color-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media ( min-aspect-ratio: 5/2 ) {
    .color-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media ( min-aspect-ratio: 3/1 ) {
    .color-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media ( min-aspect-ratio: 4/1 ) {
    .color-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}