.color-set-wrapper {
    background-color: var( --light-cream );
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: var( --color-set-wrapper-padding );
    width: 33%;
    
    /* opacity: 0.1; */
}

.short-list__title {
    border-top-right-radius: var( --default-border-radius );
    border-top-left-radius: var( --default-border-radius );
    color: rgb(236, 232, 228);
    font-size: var( --filter-list-title-font-size );
    margin: 0;
    padding: var( --filter-list-title-padding );
    /* transform: scaleY( 4 );
    transition: transform calc( var( --trans-time-short ) * 1s ) ease-in-out; */
}

.short-list__copy {
    font-weight: 300;
    font-size: var( --filter-list-copy-font-size );
    margin: var( --filter-list-copy-margin );
    overflow: hidden;
    transform: scaleY( 1 );
    transition: var( --transition-transform-short );
}

.filter-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}   

.filter-wrapper {
    height: 37.6%;
    width: 100%;
}

.short-list__wrapper {
    background-color: var( --dark-brown );
    border-radius: var( --default-border-radius );
    /* height: 3%; */
    justify-content: center;
    margin-top: var( --filter-list-wrapper-margin-top );
    overflow: hidden;
    /* opacity: 1; */
    /* padding: var( --filter-list-wrapper-padding ); */
    /* transition: height calc( var( --trans-time-short ) * 1s ) ease-in-out; */
    /* transform: scaleY( 0.25 );
    transition: transform calc( var( --trans-time-short ) * 1s ) ease-in-out; */
    width: 100%;
}

.short-list__content {
    background-color: #fff;
    /* opacity: 0; */
    padding: var( --filter-list-wrapper-padding );
    /* height: 0; */
    max-height: 0;
    /* transition: max-height 1s; */
    transition: max-height calc( var( --trans-time-short ) * 1s );
    /* transition: opacity calc( var( --trans-time-short ) * 1s ) ease-in-out; */
    /* transform: scaleY( 0.00001 );
    transition: transform calc( var( --trans-time-short ) * 1s ) ease-in-out; */
    width: 100%;
    /* will-change: max-height; */
}

.short-list {
    align-items: center;
    display: flex;
    /* flex: 1; */
    height: var( --filter-list-height );
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.short-list__color {
    height: 100%;
    margin: 0 1%;
    width: 8.5%;

    opacity: 0.2;
}

.short-list__color--active {
    width: 25%;
}

.short-list__button {
    border-radius: var( --filter-button-border-radius );
    height: 100%;
    width: 100%;
}

.short-list__color {
}
.short-list__button {
}
.short-list {
}
.short-list__color {
}
.short-list__button {
}