.title {
    color: rgb(51, 111, 119);
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1.5vmax;
    font-weight: 200;
}

.short-list__title {
    background-color: rgb(34, 32, 26);
    border-top-right-radius: var( --default-border-radius );
    border-top-left-radius: var( --default-border-radius );
    color: rgb(236, 232, 228);
    font-size: var( --filter-list-title-font-size );
    margin: 0;
    padding: var( --filter-list-title-padding );

    opacity: 0.2;
}

.short-list__copy {
    font-weight: 300;
    font-size: var( --filter-list-copy-font-size );
}

.filter-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;

    opacity: 0.05;
}   

.color-set-wrapper {
    background-color: #dfdfde;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: var( --color-set-wrapper-padding );
    width: 33%;
    
    opacity: 0.05;
}

.filter-wrapper {
    height: 37.6%;
    width: 100%;
}

.short-list__wrapper {
    background-color: #fff;
    border-radius: var( --default-border-radius );
    margin-top: var( --filter-list-wrapper-margin-top );
    opacity: 1;
    padding: var( --filter-list-wrapper-padding );
    transform: scaleY( 1 );
    transition: transform 0.35s;
    will-change: transform;
    width: 100%;
}

.short-list__content {
    transform: scaleY( 1 );
    transition: transform 0.35s;
    will-change: transform;
}

.short-list {
    align-items: center;
    display: flex;
    height: var( --filter-list-height );
    justify-content: center;
    /* margin-top: var( --filter-list-margin-top ); */
    overflow: hidden;
    width: 100%;
}

.short-list__content--favorites {
    opacity: 0;
    transform: scaleY( 0.001 );
}

.short-list__content--favorites .short-list__content {
    transform: scaleY( 1000 );
}


.short-list__color {
    height: 100%;
    margin: 0 1%;
    width: 8.5%;

    opacity: 0.2;
}

.short-list__color--active {
    width: 25%;
}

.short-list__button {
    border-radius: var( --filter-button-border-radius );
    height: 100%;
    width: 100%;
}

.short-list__color {
}
.short-list__button {
}
.short-list {
}
.short-list__color {
}
.short-list__button {
}