.title {
    color: rgb(51, 111, 119);
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1.5vmax;
    font-weight: 200;
}

.value-list__title,
.family-list__title {
    font-size: 1.6vmax;
    font-weight: 700;
}

.value-list__copy,
.family-list__copy {
    font-size: 1.4vmax;
}

.color-set-wrapper,
.filter-wrapper {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
}

.color-set-wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 0.6vmax;
    width: 30vw;    
}

.filter-wrapper {
    background: #ddd;
    height: 29%;
    margin-bottom: 1%;
    width: 100%;
}

.family-list,
.value-list {
    align-items: center;
    display: flex;
    height: 3vmax;
    justify-content: space-between;
    margin-top: 0.8vmax;
    width: 100%;
}

.family-list {
}

.family-list__color,
.value-list__color {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.family-list__button,
.value-list__button {
    border-radius: 1vmax;
    height: 2vmax;
    width: 2vmax;
}

.family-list__button--active,
.value-list__button--active {
    width: 8vmax;
}

.family-list__button {

}


.value-list {
}

.value-list__color {
}

.value-list__button {
} 


@media  ( min-width: 790px ) and ( min-aspect-ratio: 3/2 ), ( min-width: 790px ) and ( max-aspect-ratio: 2/3 )  {
    .value-list__title,
    .family-list__title {
        font-size: 1.45vmax;
    }
    
    .value-list__copy,
    .family-list__copy {
        font-size: 1.3vmax;
    }

    .family-list,
    .value-list {
        height: 2.3vmax;
    }
}

@media  ( min-width: 790px ) and ( min-aspect-ratio: 2/1 ), ( min-width: 790px ) and ( max-aspect-ratio: 1/2 )  {
    .value-list__title,
    .family-list__title {
        font-size: 1.3vmax;
    }
    
    .value-list__copy,
    .family-list__copy {
        font-size: 1.2vmax;
    }

    .family-list__button,
    .value-list__button {
        border-radius: 0.75vmax;
        height: 1.5vmax;
    }

    .family-list,
    .value-list {
        height: 2vmax;
    }
}

@media  ( min-width: 790px ) and ( min-aspect-ratio: 3/1 ), ( min-width: 790px ) and ( max-aspect-ratio: 1/3 )  {
    .value-list__title,
    .family-list__title {
        font-size: 1.1svmax;
    }
    
    .value-list__copy,
    .family-list__copy {
        font-size: 1vmax;
    }

    .family-list,
    .value-list {
        height: 1.2vmax;
    }

    .family-list__button,
    .value-list__button {
        border-radius: 0.5vmax;
        height: 1vmax;
    }
}