/* ------------------ ############ RESETS ############ ------------------ */
html, button, body, div, span, section, ul, li, h1, h2, h3, h4, h5, p {
  box-sizing: border-box;
  color: #111112;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: normal;
  width: auto;
  overflow: visible;
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local( 'Raleway Light' ), local( 'Raleway-Light' ), url( ../fonts/raleway300.woff2 ) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local( 'Raleway' ), local( 'Raleway-Regular' ), url( ../fonts/raleway400.woff2 ) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local( 'Raleway Bold' ), local( 'Raleway-Bold' ), url( ../fonts/raleway700.woff2 ) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local( 'Raleway Black' ), local( 'Raleway-Black' ), url( ../fonts/raleway900.woff2 ) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ------------------ ############ GENERAL ############ ------------------ */
#app-wrapper {
  background-color: #fff;
  height: 100%;
  margin: 0 auto;
  /* left: 0; */
  max-width: 1500px;
  overflow: hidden;
  position: relative;
  /* top: 0; */
  width: 100vw;
}

.color-set-wrapper,
.color-list__button,
.scene,
.scene__room {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* ------------------ ############ VARIABLES ############ ------------------ */
body {
  --tintedSceneFilter: initial;
  --sceneTintColor: #fff;
}

/* ------------------ ############ APP STATE - ROOM DETAIL ############ ------------------ */
