.scene {
    background-color: var( --sceneTintColor );
    /* display: none; */
    left: 33%;
    overflow: hidden;
    width: 67%;

    /* opacity: 0.1; */
}

.scene__room {
    background-color: var( --sceneTintColor );
    object-fit: cover;

    opacity: 0.01;
}

.scene__room--tinted {
    background-color: var( --sceneTintColor );
    filter: grayscale(100);
    mix-blend-mode: multiply;
}

.scene__room__tinted-wrapper {
    background-color: var( --sceneTintColor );
}

.scene__room--natural {
    -webkit-mask-image: url( '../images/room-mask.png' );
    -webkit-mask-size: cover;
    -webkit-mask-position: 50% 50%;
    mask-size: cover;
}

.scene__room-wrapper {
    overflow: hidden;
}

.scene__room-wrapper--bottom {
    display: none;
}

.detail .scene__color-info-wrapper {
    transform: scale( 1 );
}

.scene__color-info-wrapper {
    left: 1%;
    top: 1%;
    transform: scale( 0.1 );
    transform-origin: top left;
    transition: transform 0.35s;
    will-change: transform;
}

.scene__color-info {
    border-radius: 30px;
    display: block;
    height: 5.9%;
    height: 52%;
    left: 2%;
    overflow: hidden;
    position: absolute;
    top: 23%;
    width: 52%;
    z-index: 3;
}

.scene__color-info--bottom {
}

.scene__color-info--coord1,
.scene__color-info--coord2 {
    height: 38%;
    left: 56%;
    top: 11%;
    width: 40.5%;
}

.scene__color-info--coord1 {
}

.scene__color-info--coord2 {
    top: 51%;
}

.scene__color-info-copy-wrapper {
    background: linear-gradient(-15deg, rgba(27, 41, 54, 0.3) 0%, rgba(27, 41, 54, 1) 42%, rgba(27, 41, 54, 1) 100%);
    height: 100%;
    overflow: hidden;
    position: relative;
    transform: scaleY( 10 );
    transform-origin: top left;
    transition: transform 0.65s;
    width: 100%;
    will-change: transform;
}

.detail .scene__color-info-copy-wrapper {
    transform: scaleY( 1 );
}

.scene__color-info--coord1 .scene__color-info-copy-wrapper {
    background: linear-gradient(-15deg, rgba(227, 41, 54, 0.3) 0%, rgba(227, 141, 54, 1) 42%, rgba(227, 141, 54, 1) 100%);
}

.scene__color-info--coord2 .scene__color-info-copy-wrapper {
    background: linear-gradient(-15deg, rgba(197, 241, 154, 0.3) 0%, rgba(197, 241, 154, 1) 42%, rgba(197, 241, 154, 1) 100%);
}

.scene__color-info-copy {
    color: aliceblue;
    display: block;
    position: relative;
    transform: translateY( -300% ) scaleY( 0.1 );
    transform-origin: top left;
    transition: transform 0.65s;
    will-change: transform;
}

.detail .scene__color-info-copy {
    transform: translateY( 0 ) scaleY( 1 );
}


.scene__color-info--number {
    font-size: var( --filter-list-copy-font-size );
}

.scene__color-info--name {
    font-size: var( --filter-list-title-font-size );    
    margin-bottom: 10%;
}

.scene__room__tinted-wrapper {
}

.scene__room__tinted-wrapper--bottom {
}