.scene {
    background-color: var( --sceneTintColor );
    /* display: none; */
    left: 33%;
    overflow: hidden;
    width: 67%;

    /* opacity: 0.1; */
}

.scene__room {
    background-color: var( --sceneTintColor );
    object-fit: cover;
}

.scene__room--tinted {
    background-color: var( --sceneTintColor );
    filter: grayscale(100);
    mix-blend-mode: multiply;
}

.scene__room__tinted-wrapper {
    background-color: var( --sceneTintColor );
}

.scene__room--natural {
    -webkit-mask-image: url( '../images/room-mask.png' );
    -webkit-mask-size: cover;
    -webkit-mask-position: 50% 50%;
    mask-size: cover;
}

.scene__room-wrapper {
    overflow: hidden;
}

.scene__room-wrapper--bottom {
    display: none;
}

.scene__color-info-wrapper {
    /* align-items: center; */
    /* align-content: center; */
    /* display: flex;
    flex-direction: row; */
    height: 96%;
    /* justify-content: space-around; */
    margin: 2% 0 0 2%;
    overflow: hidden;


    position: relative;

    /* transform: scale( 1 );
    transition: transform 0.35s; */

    width: 96%;
    /* will-change: transform; */
    /* padding: 1%; */
    z-index: 3;
}
body {
    --color-info-main-width-raw: 46;
    --color-info-main-height-raw: 59;
    --color-info-main-top-raw: 31;
    --color-info-main-left-raw: 15;
    --color-info-coord-width-raw: calc ( ( 93 - var( --color-info-main-width-raw ) ) / 2 );
    --color-info-coord1-height-raw: 86;
    --color-info-coord1-top-raw: 15;
    /* --color-info-coord1-left-raw: 46; */
    --color-info-coord2-height-raw: 78;
    --color-info-coord2-top-raw: 22;


    --color-info-main-width:  calc ( - var( --color-info-main-width-raw ) * 1% );


    --color-info-coord-width: calc ( - var( --color-info-coord-width-raw ) * 1% );
    /* --color-info-coord2-left-raw: 46; */
}

.scene__color-info { /* staionary with corners */
    /* align-items: center; */
    /* background-color: #555657; */
    /* background: linear-gradient(-15deg, rgba(27, 41, 54, 0.2) 0%, rgba(27, 41, 54, 1) 38%, rgba(27, 41, 54, 1) 100%); */
    border-radius: var( --default-border-radius );
    display: block;
    height: 69%;
    /* margin: 1% 0 0 1%; */
    /* clip-path: polygon( 0% 0%, 100% 0%, 100% 17%, 80% 12%, 0% 20% ); */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    overflow: hidden;
    position: relative;
    transform: scale( 1 ) translate( 0, 0 );
    transform-origin: top left;
    transition: transform 0.35s;
    width: var( --color-info-main-width );
    will-change: transform;
    z-index: 3;
}

.scene__color-info--bottom {
}

/* .scene__color-info-copy, */
.scene__color-info-copy-wrapper { /* moves down into view */
    background: linear-gradient(-15deg, rgba(27, 41, 54, 0.2) 0%, rgba(27, 41, 54, 1) 38%, rgba(27, 41, 54, 1) 100%);
    /* margin-bottom: 10%; */
    height: 100%;
    position: relative;
    transform: scale( 1 ) translate( 0, 0 );
    transform-origin: top left;
    transition: transform 0.35s;
    width: 100%;
    will-change: transform;
}

.scene__color-info--coord1,
.scene__color-info--coord2 {
    /* background: linear-gradient(-15deg, rgba(27, 41, 54, 0.2) 0%, rgba(27, 41, 54, 1) 38%, rgba(27, 41, 54, 1) 100%); */
    width: var( --color-info-coord-width );
    /* clip-path: polygon( 0% 0%, 100% 0%, 100% 17%, 80% 12%, 0% 20% ); */
    /* z-index: 2; */
}

.scene__color-info--coord1 .scene__color-info-copy-wrapper {
    background: linear-gradient(-15deg, rgba(27, 41, 54, 0.2) 0%, rgba(27, 41, 54, 1) 38%, rgba(27, 41, 54, 1) 100%);
}

.scene__color-info--coord2 .scene__color-info-copy-wrapper {
    background: linear-gradient(-15deg, rgba(27, 41, 54, 0.2) 0%, rgba(27, 41, 54, 1) 38%, rgba(27, 41, 54, 1) 100%);
}

.scene__color-info--coord2 {
    /* background-color: #222324; */
    /* clip-path: polygon( 0% 0%, 100% 0%, 100% 17%, 80% 12%, 0% 20% ); */
    /* z-index: 1; */
}

.scene__color-info-copy {
    color: aliceblue;
    position: relative;
    transform: scale( 10 );
    transform-origin: top left;
    transition: transform 0.35s;
    will-change: transform;
}


.scene__color-info--number {
    font-size: var( --filter-list-copy-font-size );
}

.scene__color-info--name {
    font-size: var( --filter-list-title-font-size );    
    margin-bottom: 10%;
}

.scene__room__tinted-wrapper {
}

.scene__room__tinted-wrapper--bottom {
}